<!doctype html>
<html>
<head>
  <meta content="utf-8"/>
  <meta name="author" content="www.ffan.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta http-equiv="Expires" content="-1"/>
  <meta http-equiv="Cache-Control" content="no-cache"/>
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="description" content=" ">
  <meta name="Keywords" content="">
  <meta name="apple-mobile-web-app-title" content="飞凡网"/>
  <meta name="x5-fullscreen" content="true"/>
  <meta name="x5-orientation" content="portrait"/>
  <meta name="full-screen" content="yes"/>
  <meta name="screen-orientation" content="portrait"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <title>飞凡会员协议</title>
  <link rel="stylesheet" href="/static/main.css"/>
  <style rel="stylesheet">
    .my-agreement-page{
      padding: 20px 15px 10px 15px;
      line-height: 26px;
      background: #f4f3f2;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="page">
    <div class="my-agreement-page">
      <p>
        本协议是您与上海新飞凡电子商务有限公司之间的法律协议。上海新飞凡电子商务有限公司根据以下服务条款为您提供服务。
        <br/>
        （1）请您仔细阅读本注册协议，您勾选"同意"后，即视为您同意、接受并订立本协议约定条款。
        <br/>
        （2）如您访问或使用飞凡平台，包括并不限于飞凡网、飞凡移动客户端、飞凡一卡通移动客户端，使用飞凡WIFI接入，或您通过其它方式使用上海新飞凡电子商务有限公司提供的服务（下称"本服务"），即视为您同意、接受并订立本协议约定条款。
        <br/>
        飞凡平台的各项服务的所有权和运作权归上海新飞凡电子商务有限公司所有。当您使用本服务时，如上海新飞凡电子商务有限公司公布了与该服务相关其他指引和规则，则前述所有的指引和规则，均构成本协议的一部分。您应于使用本服务前认真阅读全部协议内容。如您不同意本协议及/或随时对其的修改，请您立即停止使用本服务；一旦您使用本服务，即视为您已了解并完全同意本协议各项内容。
        <br/>
        <strong>一、服务说明</strong>
        <br/>
        会员了解并同意，上海新飞凡电子商务有限公司可向会员提供的服务可能受当时技术、资源和权利条件所限而有所变化，具体服务内容以及相应价格和条件应以上海新飞凡电子商务有限公司实际提供时为准。对于任何会员信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，上海新飞凡电子商务有限公司均不承担任何责任。上海新飞凡电子商务有限公司有权不经事先通知为维修保养、升级或其它目的暂停本服务的全部或任何部分，并无需承担任何责任。
        <br/>
        <strong>二、遵守法律</strong>
        <br/>
        会员同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用会员的密码和会员的账号使用本服务的任何行为及其结果承担全部责任。如会员的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由会员承担全部法律责任。
        同时如果上海新飞凡电子商务有限公司有理由认为会员的任何行为，包括但不限于会员的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，上海新飞凡电子商务有限公司可在任何时候不经任何事先通知而直接终止向会员提供服务。
        <br/>
        <strong>三、用户的注册义务</strong>
        <br/>
        1）用户同意所有飞凡会员协议条款并完成注册程序，才能成为飞凡平台的会员。
        <br/>
        2）用户以使用WIFI网络为目的进行WIFI接入时，视为用户同意本协议，自动成为飞凡平台的会员。
        <br/>
        3）用户点击同意本协议的，即视为用户确认自己具有享受飞凡平台相关服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。
        <br/>
        4）用户应依本服务注册提示填写正确的注册信息，并确保今后更新的资料的有效性和合法性。若用户提供任何违法、不道德或上海新飞凡电子商务有限公司认为不适合展示的资料；或者上海新飞凡电子商务有限公司有理由怀疑用户的资料属于程序或恶意操作，上海新飞凡电子商务有限公司有权暂停或终止用户的账号，并拒绝用户于现在和未来使用本服务之全部或任何部分。
        <br/>
        上海新飞凡电子商务有限公司无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。
        <br/>
        <strong>四、用户账号、密码及安全</strong>
        <br/>
        完成本服务的注册程序并成功注册之后，会员可登录到会员在上海新飞凡电子商务有限公司注册的账号（下称"账号"）。保护会员的账号安全，是会员的责任。会员应对所有使用会员的密码及账号的活动负完全的责任。会员同意：
        <br/>
        1）会员的上海新飞凡电子商务有限公司账号遭到未获授权的使用，或者发生其它任何安全问题时，会员将立即通知上海新飞凡电子商务有限公司；
        <br/>
        2）当您登录互联网时，您应完全自行负责采取或实施您认为合适的安全手段保护您的隐私或个人信息及财产。对于您的隐私或个人信息及财产因您使用无线上网服务而发生的损失、破坏或遭非法侵入或使用，如果会员未保管好自己的账号和密码，因此而产生的任何损失或损害，上海新飞凡电子商务有限公司无法也不承担任何责任；
        <br/>
        3）每个会员都要对其账号中的所有行为和事件负全责。如果会员未保管好自己的账号和密码而对会员、上海新飞凡电子商务有限公司或第三方造成的损害，会员将负全部责任。
        <br/>
        <strong>五、上海新飞凡电子商务有限公司隐私权政策</strong>
        <br/>
        尊重会员个人隐私是上海新飞凡电子商务有限公司的一项基本政策。上海新飞凡电子商务有限公司通常不会监控或拦截会员在使用本服务时传送的数据，包括但不限于未经合法会员授权时公开、编辑或透露其注册资料及保存在本站中的非公开内容，除非有法律许可要求或上海新飞凡电子商务有限公司或本服务的其他提供商可能为执法目的或根据司法或其它政府部门的指令或要求就披露该等会员信息提供协助或上海新飞凡电子商务有限公司在诚信的基础上认为透露这些信息在以下四种情况是必要的：
        <br/>
        (1)遵守有关法律规定，遵从本服务程序。
        <br/>
        (2)保持维护本站的商标所有权。
        <br/>
        (3)在紧急情况下竭力维护会员个人和社会大众的隐私安全。
        <br/>
        (4)符合其他相关的要求。
        <br/>
        <strong>六、提供者之责任</strong>
        <br/>
        根据有关法律法规，上海新飞凡电子商务有限公司在此郑重提请会员注意，任何经由本服务而发布、上传的文字、图像或其它资料（以下简称"内容"），无论系公开还是私下传送，均由内容提供者承担责任。上海新飞凡电子商务有限公司仅为会员提供内容存储空间，无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性或品质。在任何情况下，上海新飞凡电子商务有限公司均不为任何内容负责，但上海新飞凡电子商务有限公司有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停会员使用本服务的全部或部分，保存有关记录，并向有关机关报告。会员可能会使用本服务进入非上海新飞凡电子商务有限公司控制和/或维护的网站（简称"第三方网站"）。上海新飞凡电子商务有限公司对于任何第三方网站的内容、准确性、及时性或数据传送，以及第三方网站上包含的任何观点、意见、表述、信息、服务、图片、音频或视频文件或任何其它的数据或信息，均不承担任何责任。
        <br/>
        <strong>七、会员行为</strong>
        <br/>
        会员同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
        <br/>
        1）发布或以其它方式传送含有下列内容之一的信息：
        <br/>
        a) 反对宪法所确定的基本 原则的；
        <br/>
        b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        <br/>
        c) 损害国家荣誉和利益的；
        <br/>
        d)煽动民族仇恨、民族歧视、破坏民族团结的；
        <br/>
        e) 破坏国家宗教政策，宣扬邪教和封建迷信的；
        <br/>
        f) 散布谣言，扰乱社会秩序，破坏社会稳定的；
        <br/>
        g) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        <br/>
        h) 侮辱或者诽谤他人，侵害他人合法权利的；
        <br/>
        i) 含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
        <br/>
        j) 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
        <br/>
        k) 含有上海新飞凡电子商务有限公司认为不适合在上海新飞凡电子商务有限公司展示的内容。
        <br/>
        2）以任何方式危害他人的合法权益；
        <br/>
        3）冒充其他任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；
        <br/>
        4）将依据任何法律或合约或法定关系（例如由于雇佣关系和依据保密合约所得知或揭露之内部资料、专属及机密资料）知悉但无权传送之任何内容加以发布、发送电子邮件或以其它方式传送；
        <br/>
        5）将侵害他人著作权、专利权、商标权、商业秘密、或其它专属权利（以下简称"专属权利"）之内容加以发布或以其它方式传送；
        <br/>
        6）将任何广告信函、促销资料、"垃圾邮件"、"滥发信件"、"连锁信件"、"直销"或其它任何形式的劝诱资料加以发布、发送或以其它方式传送；
        <br/>
        7）将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒（包括但不限于木马程序（trojan horses）、蠕虫（worms）、定时炸弹、删除蝇（cancelbots）（以下简称"病毒"）或其它计算机代码、档案和程序之任何资料，加以发布、发送或以其它方式传送；
        <br/>
        8）干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范；
        <br/>
        9）跟踪、人肉搜索或以其它方式骚扰他人；
        <br/>
        10）故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则；
        <br/>
        11）未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。会员已认可上海新飞凡电子商务有限公司未对会员的使用行为进行全面控制，会员使用任何内容时，包括依赖前述内容之正确性、完整性或实用性时，会员同意将自行加以判断并承担所有风险，而不依赖于上海新飞凡电子商务有限公司。但上海新飞凡电子商务有限公司依其自行之考虑，拒绝和删除可经由本服务提供之违反本条款的或其它引起上海新飞凡电子商务有限公司反感的任何内容。会员了解并同意，上海新飞凡电子商务有限公司依据法律法规的要求，或基于诚信为了以下目的或在合理必要范围内，认定必须将内容加以保存或揭露时，得加以保存或揭露：
        <br/>
        a） 遵守法律程序；
        <br/>
        b） 执行本协议；
        <br/>
        c） 回应任何第三人提出的权利主张；
        <br/>
        d） 保护上海新飞凡电子商务有限公司、其会员及公众之权利、财产或个人安全；
        <br/>
        e） 其它上海新飞凡电子商务有限公司认为有必要的情况。
        <br/>
        12）会员承诺不利用上海新飞凡电子商务有限公司提供的任何服务从事任何收费或盈利行为。
        <br/>
        <strong>八、国际使用之特别警告</strong>
        <br/>
        会员已了解国际互联网的无国界性，同意遵守当地所有关于网上行为及内容之法律法规。会员特别同意遵守有关从中国或会员所在国家或地区输出信息之传输的所有适用法律法规。
        <br/>
        <strong>九、未成年人</strong>
        <br/>
        未成年人（指18岁以下），不得使用本服务，请您立即停止注册行为，并不要提供任何个人信息。
        <br/>
        <strong>十、在上海新飞凡电子商务有限公司发布的公开信息</strong>
        <br/>
        1）会员了解并同意，会员通过上海新飞凡电子商务有限公司服务发布的公开信息可能被全世界范围内可以接受上海新飞凡电子商务有限公司服务的其他会员所获取；
        <br/>
        2）就会员在上海新飞凡电子商务有限公司上传或发布的内容，会员应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益，会员同意授予上海新飞凡电子商务有限公司所有上述内容在全球范围内的免费、不可撤销的、永久的、可再许可独家使用权许可，据该许可上海新飞凡电子商务有限公司将有权以复制、广播、汇编、网络传播及其他不为我法律所禁止的方式使用前述内容。
        <br/>
        <strong>十一、赔偿</strong>
        <br/>
        1）任何使用本服务的会员应当为上海新飞凡电子商务有限公司及其关联企业辩护、赔偿本服务门店及其关联企业，使本服务门店及其关联企业免于因任何下述事项遭受任何和所有的索赔、要求、诉讼、责任、成本或损害：
        <br/>
        (a) 会员使用本服务的行为;
        <br/>
        (b) 会员通过本服务提交、发布、传送或以其他方式展示任何内容;
        <br/>
        (c) 会员任何违反本条款的行为；
        <br/>
        (d) 会员侵犯第三方的任何权利的行为。
        <br/>
        在任何上述情形下，会员赔偿上海新飞凡电子商务有限公司及其关联企业的范围应当包括上海新飞凡电子商务有限公司及其关联企业因任何本条款项下的诉讼或索赔、或在主张本条款效力的过程中承担的合理的律师和专家证人的费用和开支。
        <br/>
        2）免责声明和责任限制
        <br/>
        除非另有明确说明，本服务系基于其现状而提供的，不附带任何明示或暗示的保证,包括但不限于对本服务的可适用性，没有错误或疏漏，持续性，准确性，可靠性，适用于某一特定用途之类的保证，声明或承诺。上海新飞凡电子商务有限公司对服务所涉的技术和信息的有效性，准确性，正确性，可靠性，质量，稳定，完整和及时性均不作承诺和保证。使用本服务下载或者获取任何资料的行为均出于会员的独立判断并自行承担风险。每一个会员独自承担因此对其电脑系统或资料灭失造成的损失。
        <br/>
        不论在何种情况下，上海新飞凡电子商务有限公司均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。
        <br/>
        在任何情况下，对于因使用本服务导致的任何直接或间接损害、或者与使用本服务有关的任何索赔（包括但不限于，通过本服务而导致的任何种类的损失或损害，即便上海新飞凡电子商务有限公司知晓有发生该等损失或损害的可能），上海新飞凡电子商务有限公司或其关联企业、或其各自的董事、管理人员、雇员、代理人、承包商、供应商、运营商或许可方（合称"新飞凡电子商务关联人士"）均不承担任何责任。若本条所述的责任限制被任何适用的法律视作无效，则上海新飞凡电子商务有限公司及各飞新飞凡电子商务关联人士的责任应在法律允许的限度内得到最大程度的限制。
        <br/>
        <strong>十二、关于使用及储存之一般措施</strong>
        <br/>
        会员同意不对本服务任何部分或本服务所使用或获得的内容，进行复制、拷贝、出售、转售或用于任何其它商业目的。
        <br/>
        会员承认关于本服务的使用上海新飞凡电子商务有限公司有权制订一般措施及限制，包含但不限于本服务将保留所发布内容或其它发布内容之最长期间，以及一定期间内会员使用本服务之次数上限（及每次使用时间之上限）。通过本服务发布或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，会员同意上海新飞凡电子商务有限公司无需承担任何责任。会员也同意，上海新飞凡电子商务有限公司有权依其自行之考虑，不论通知与否，随时变更这些一般措施及限制。
        <br/>
        <strong>十三、服务之修改</strong>
        <br/>
        上海新飞凡电子商务有限公司有权于任何时间暂时或永久修改或终止本服务（或其任何部分），且无论通知与否。会员同意对于本服务所作的任何修改、暂停或终止，上海新飞凡电子商务有限公司对会员和任何第三人均无需承担任何责任。
        <br/>
        <strong>十四、终止服务</strong>
        <br/>
        会员同意上海新飞凡电子商务有限公司基于其自行之考虑，因任何理由，包含但不限于缺乏使用，或上海新飞凡电子商务有限公司认为会员已经违反本协议的文字及精神，终止会员的账号或本服务之使用（或服务之任何部分）或取消，并将会员在本服务内任何内容加以移除并删除，会员同意依本协议任何规定提供之本服务，无需进行事先通知即可中断或终止，会员承认并同意，上海新飞凡电子商务有限公司可立即关闭或删除会员的账号及会员账号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，会员同意若本服务之使用被中断或终止或会员的账号及相关信息和文件被关闭或删除，或被取消，上海新飞凡电子商务有限公司对会员或任何第三人均不承担任何责任。
        <br/>
        <strong>十五、与广告商及其他第三方进行交易</strong>
        <br/>
        会员通过本网站与广告商及其他第三方进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付，以及达成的其它任何相关条款、条件、保证或声明，完全为会员与广告商及其他第三方之间之行为。会员因前述任何交易或前述广告商及其他第三方而遭受的任何性质的损失或损害，上海新飞凡电子商务有限公司对此不负任何法律责任。
        <br/>
        <strong>十六、上海新飞凡电子商务有限公司之专属权利</strong>
        <br/>
        会员了解并同意，本服务及本服务所使用之相关软件（以下简称"软件"）含有受到相关知识产权及其它法律保护之专有保密资料。会员也了解并同意，经由本服务或广告商向会员呈现之赞助广告或信息所包含之内容，亦受到著作权、商标权、服务商标、专利权或其它专属权利之法律保护。未经上海新飞凡电子商务有限公司或广告商明示授权，会员不得修改、出租、出借、出售、散布本服务或软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件，包括但不限于为了未经授权而使用本服务之目的。上海新飞凡电子商务有限公司仅授予会员个人、不可移转及非专属之使用权，使会员得于单机计算机或手机终端使用其软件之目的码，但会员不得（并不得允许任何第三人）复制、修改、创作衍生著作、进行还原工程、反编译，或以其它方式发现源代码，或出售、转让、再授权或提供软件设定担保，或以其它方式移转软件之任何权利。会员同意将通过由上海新飞凡电子商务有限公司所提供的界面而非任何其它途径使用本服务。
        <br/>
        <strong>十七、担保与保证</strong>
        <br/>
        会员明确了解并同意：
        <br/>
        1）会员使用本服务之风险由会员个人负担，但不免除因上海新飞凡电子商务有限公司的故意和重大过失对会员造成人身损害时的赔偿责任。本服务系依服务的现状及现有条件提供。上海新飞凡电子商务有限公司对本服务不提供任何明示或默示的担保或保证，包含但不限于商业适售性、特定目的之适用性及未侵害他人权利等担保或保证；
        <br/>
        2）上海新飞凡电子商务有限公司不保证以下事项：
        <br/>
        a）本服务将符合会员的要求；
        <br/>
        b）本服务将不受干扰、及时提供、安全可靠或不会出错；
        <br/>
        c）使用本服务取得之结果正确可靠；
        <br/>
        d）会员经由本服务购买或取得之任何产品、服务、资讯或其它信息将符合会员的期望；
        <br/>
        3）是否使用本服务下载或取得任何资料应由会员自行考虑且自负风险，因任何资料之下载而导致的会员电脑系统之任何损坏或数据流失等后果，由会员自行承担，但因上海新飞凡电子商务有限公司故意或重大过失导致的除外；
        <br/>
        4）会员自上海新飞凡电子商务有限公司或经由本服务取得的任何建议或信息，无论是书面或口头形式，除非本协议有明确规定，将不构成本协议以外之任何保证。
        <br/>
        <strong>十八、上海新飞凡电子商务有限公司商标信息</strong>
        <br/>
        上海新飞凡电子商务有限公司网站"飞凡网"、移动应用名称以及其它商标、标志及产品、服务名称，均为上海新飞凡电子商务有限公司之商标（以下简称"上海新飞凡电子商务有限公司标记"）。未经上海新飞凡电子商务有限公司事先书面同意，会员同意不将上海新飞凡电子商务有限公司标记以任何方式展示或使用或作其它处理，或表示会员有权展示、使用或另行处理上海新飞凡电子商务有限公司标记。
        <br/>
        <strong>十九、会员专属权利</strong>
        <br/>
        上海新飞凡电子商务有限公司尊重他人知识产权，呼吁会员也要同样尊重知识产权。上海新飞凡电子商务有限公司之服务与资料是基于现状提供，而且上海新飞凡电子商务有限公司明确地表示拒绝对于本服务及相关资料或产品给予任何明示或暗示之保证，包括但不限于，得为商业使用或适合于特定目的之保证。上海新飞凡电子商务有限公司对于因本服务及相关资料或产品所生之任何直接、间接、附带的或因此而导致之衍生性损失概不负责。
        <br/>
        如果会员对他人的知识产权造成了侵害，上海新飞凡电子商务有限公司将依国家法律法规的规定，或在适当的情形下，将依其服务条款或其相关规范性规定，删除特定内容或以至终止会员对账户的使用。上海新飞凡电子商务有限公司尊重他人的任何权利（包括知识产权），同时也要求会员也尊重他人之权利。上海新飞凡电子商务有限公司在适当情况下，得自行决定终止侵害或违反他人权利之使用者的账号。
        <br/>
        <strong>二十、一般条款</strong>
        <br/>
        1）本协议和免责声明构成会员与上海新飞凡电子商务有限公司之全部协议，并规范会员对于本服务之使用行为。在会员使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件；
        <br/>
        2）本协议及会员与上海新飞凡电子商务有限公司之关系，均受到中华人民共和国法律管辖。会员与上海新飞凡电子商务有限公司就本服务、本协议或其它有关事项发生的争议，应首先友好协商解决，协商不成时应提请任何一方均可向上海新飞凡电子商务有限公司所在地有管辖权的人民法院提起诉讼；
        <br/>
        3）上海新飞凡电子商务有限公司未行使或执行本协议任何权利或规定，不构成对前述权利或权利之放弃；
        <br/>
        4）倘本协议之任何规定因与中华人民共和国法律抵触而无效，会员依然同意应依照法律，努力使该规定所反映之当事人意向具备效力，且本协议其它规定仍应具有完整的效力及效果；
        <br/>
        5）本协议之标题仅供方便而设，不具任何法律或契约效果；
        <br/>
        6) 只要会员接受了上海新飞凡电子商务有限公司服务，就代表会员接受任何以上所有协议。
        <br/>
        7）上海新飞凡电子商务有限公司对本协议享有最终解释权。
        <br/>
        <strong>二十一、通知及商务信息</strong>
        <br/>
        在本协议项下，会员允许上海新飞凡电子商务有限公司基于会员服务、广告、市场营销等目的使用会员所提供的个人信息，为其送达各类通知，包含并不限于：
        <br/>
        1） 通知、公示、公告等；
        <br/>
        2） 站内信、客户端推送的消息等；
        <br/>
        3） 根据您预留于飞凡网的联系方式发出的电子邮件、短信、彩信、微信、函件、APP信息推送等。
        <br/>
        上海新飞凡电子商务有限公司所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达会员。
        <br/>
        <strong>二十二、协议生效</strong>
        <br/>
        本协议自会员接受后生效，自会员取消本服务时终止。本协议一经生效即对上海新飞凡电子商务有限公司及会员具有约束力。
        <br/>
        <strong>二十三、其他规定</strong>
        <br/>
        若本协议中的任何条款存在理解分歧，均应以上海新飞凡电子商务有限公司作出的解释为准。
        <br/>
        如本协议中的任何内容无论因何种原因完全或部分无效或不具有执行力，本协议的其余内容仍应有效并且对协议各方有约束力。
      </p>

    </div>
  </div>
</div>
</body>
</html>